body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    border-style: dashed;
    border-width: 1px;
}

section div {
    border-style: dashed;
    border-width: 1px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
    width: 30%;
}

section#game_title h1{
    font-size: 100px;
    font-family: 'Aclonica';
    color:#722F37;
}

#result h1{
    font-family: 'Aclonica';
    color:#722F37;
    font-size: 50px;
}

section#game_body{
    height: 75vh;
    background-color:gold;
}

.player_div{
    height: 100%;
    background-color: white;
}

.player_div h1{
    height: 20%;
}



@media (min-width: 500px) { 
    section#game_title h1{
        font-size: 80px;
    }
}

@media (min-width: 544px) { 
    section#game_title h1{
        font-size: 90px;
    }
}

@media (min-width: 768px) {
    section#game_title h1{
        font-size: 120px;
    }
}