body{
    background-color: gold;
}

section {
    border-style: dashed;
    border-width: 1px;
}

section#game_title h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Aclonica';
    color:blueviolet;
}

@media (min-width: 500px) { 
    section#game_title h1{
        font-size: 90px;
    }
}

@media (min-width: 768px) {
    section#game_title h1{
        font-size: 120px;
    }
}